//
   Created by dconway on 27/03/15.

extends main-container
block header
    include ./header-navbar.jade
block content
    p AGGREGATOR
    textarea.form-control.aggBody(rows="10",placeholder="{}") {
        |"types"   : ["t_0230624bee7e2578b688b2dc15d1aee6-389"],
        |"where"   : ["`@data`.`lat` BETWEEN 30 AND 50"],
        |"fields"  : ["MAX(`@data`.`long`)", "MIN(`@data`.`long`)", "COUNT(`@data`.`long`)",  "AVG(`@data`.`long`)"] }
    button.btn#aggReq Run Request



    div#dialog-modal(title="Basic modal dialog",style="display: none;")
    input.hidden(id="session", name="session", value="#{session}")
    input.hidden(id="app_api_key", name="app_api_key", value="#{app_api_key}")

    script(type='text/javascript', src="/admin/javascripts/aggregator.js")
