nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/dashboard') OPENI DASHBOARD
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/dashboard/settings') Settings
            li
              a(href='/dashboard/profile') Profile
            li
              a(href='/dashboard/logout') Logout
          form.navbar-form.navbar-right(id="search", name="search", method="GET", action="/dashboard/search")
            input.form-control(type='text', placeholder='Search...')
