doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="Fraunhofer FOKUS - FAME" content="OpenI-Dashboard")

		title= "OpenI Dashboard"
		link(rel="icon" href="/admin/favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="/admin/favicon.ico" type="image/x-icon")

		<!-- ========================= Cascading Style Sheets ========================= -->
		link(rel='stylesheet', href='/admin/stylesheets/bootstrap.min.css')
		link(href='/admin/stylesheets/jquery-ui.min.css', rel='stylesheet', media='screen')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		link#cptchStylesheet-css(rel='stylesheet', href='http://www.openi-ict.eu/wp-content/plugins/captcha/css/style.css?ver=3.5', type='text/css', media='all')
		link#contact-form-7-css(rel='stylesheet', href='http://www.openi-ict.eu/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.3.2', type='text/css', media='all')
		link#twentytwelve-fonts-css(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext', type='text/css', media='all')
		link#twentytwelve-style-css(rel='stylesheet', href='http://www.openi-ict.eu/wp-content/themes/openi/style.css?ver=3.5', type='text/css', media='all')
		//if lt IE 9
			link#twentytwelve-ie-css(rel='stylesheet', href='http://www.openi-ict.eu/wp-content/themes/openi/css/ie.css?ver=20121010', type='text/css', media='all')
		link#easy_table_style-css(rel='stylesheet', href='http://www.openi-ict.eu/wp-content/plugins/easy-table/themes/default/style.css?ver=0.9', type='text/css', media='all')
		link(rel='stylesheet', href='/admin/stylesheets/style.css')
		link(rel='stylesheet', href='/admin/stylesheets/admin.css')

	body.home.page.page-id-4.page-template-default.custom-font-enabled
		#page.hfeed.site
			header#masthead.site-header(role='banner')
				<!--  place Header here  -->
				block header
			// #masthead
		<!--  place the Main Container here  -->
		block main-container							

		<!-- ========================= JavaScript ========================= -->
		<!-- Placed at the end of the document so the pages load faster -->
		
		script(type='text/javascript', src="/admin/javascripts/bootstrap.min.js")
		script(type='text/javascript', src="/admin/javascripts/jquery-ui.min.js")
		script(type='text/javascript', src="/admin/javascripts/main.js")
		script(type='text/javascript', src="/admin/javascripts/ui/notifications.js")
		script(type='text/javascript', src='http://www.openi-ict.eu/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.3.2')
		script(type='text/javascript', src='http://www.openi-ict.eu/wp-content/themes/openi/js/navigation.js?ver=1.0')
