doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="Fraunhofer FOKUS - FAME" content="OpenI-Dashboard")

		title= "OpenI Dashboard"
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/dashboard.css')
		link(rel="icon" href="/favicon.ico" type="image/x-icon")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

		<!-- Bootstrap core JavaScript ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="/javascripts/bootstrap.min.js")
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		script(src="/javascripts/ie10-viewport-bug-workaround.js")

	body
		header
			<!--  place the Header here  -->
			block header			
		section
			.container-fluid
				.row
					<!--  place the Sidebar here  -->
					block sidebar
					<!--  place the Content here  -->
					block content			
		footer
			<!--  place the Footer here  -->
			block footer
			
