extends main-container

block header
	include ./header-navbar.jade

block content
	div.errorMessage #{message}
	form(id="registerClient", name="registerClient" method="POST", action="/admin/registerClient", novalidate="novalidate")
			.form-group
				label(for="clientname", class="control-label") Clientname
				input(type="text", class="form-control", id="clientname", name="clientname", value="", required="", title="Please enter a clientname", placeholder="OPENI_Android")
				span.help-block
			.form-group
				label(for="cdescription", class="control-label") Description
				textarea(rows=3, cols=80, class="form-control", id="cdescription", name="cdescription", value="", required="", title="Please enter a client description", style="resize:vertical; max-height:300px; min-height:100px;", placeholder="A OPENI Android application.")
				span.help-block
			.form-group
				label(for="isSE", class="control-label") Is Service Enabler <input type="checkbox"id="cisSE" name="cisSE" value="false" />
				span.help-block
			#loginErrorMsg.alert.alert-error.hide Error during Client registration
			button(type="submit", class="btn btn-success btn-block") Register Client