.col-sm-3.col-md-2.sidebar
  ul.nav.nav-sidebar
    li.active
      a(href='')
        | Overview 
        span.sr-only (current)
    li
      a(href='/cloudlets') My Cloudlets
    li
      a(href='/apps') My Apps
    li
      a(href='/permissions') Permissions
    li
      a(href='/subscriptions') Subscriptions
    li
      a(href='/dashboard/registerClient') Register Client
    li
      a(href='') ...

