.col-sm-3.col-md-2.sidebar
  ul.nav.nav-sidebar
    li.active
      a(href='/admin')
        | Overview 
        span.sr-only (current)
    li
      a(href='/admin/apps') My Apps
    li
      a(href='/admin/registerClient') Register Client
    li
      a(href='') ...

