.col-sm-3.col-md-2.sidebar
  ul.nav.nav-sidebar
    li.active
      a(href='/dashboard')
        | Overview 
        span.sr-only (current)
    li
      a(href='/dashboard/cloudlets') My Cloudlets
    li
      a(href='/dashboard/apps') My Apps
    li
      a(href='/dashboard/permissions') Permissions
    li
      a(href='/dashboard/subscriptions') Subscriptions
    li
      a(href='/dashboard/registerClient') Register Client
    li
      a(href='') ...

