extends main-container

block header
	include ./header-navbar.jade

block content
	<div id="typesmain" class="wrapper">
	<div class="column-left" style="float: left; width: 23%;">
	<h3>Input</h3>
	<div>Reference</div>
	<input id="inputReference" type="text" placeholder="Type reference" />
	<hr />
	<div>Context Builder:</div>
	<div class="contextBuilderWrapper">
	<input id="property_name" type="text" placeholder="property_name">
	<select id="type" name="type">
	<option value="boolean">boolean</option>
	<option value="int">int</option>
	<option value="string" selected="selected">string</option>
	<option value="float">float</option>
	<option value="url">url</option>
	<option value="attachment">attachment</option>
	<option value="date">date</option>
	<option value="timestamp">timestamp</option>
	<option value="gps">gps</option>
	<option value="url">url</option>
	<option value="hexadecimal">hexadecimal</option>
	<option value="base64">base64</option>
	<option value="base64">base64</option>
	<option value="type">type</option>
	</select>
	<input id="type_id" type="text" placeholder="" style="display:none">
	<br />
	<input id="multiple" type="checkbox" name="multiple" value="multiple"> multiple
	<br />
	<input id="required" type="checkbox" name="required" value="required" checked="checked"> required
	<br />
	<input id="context" placeholder="context" type="text">
	</div>
	<br />
	<input id="clearContext"     type="button" value="Clear" />
	<br />
	<input id="addUpdateContext" type="button" value="Add to Context >>>" />
	<br />
	<br />
	<br />
	<br />
	</div>
	<div class="column-center" style="display: inline-block; width: 38%;">
	<h3 style="margin-left: 5px;">Context</h3>
	<div id="contextContainer">
	<div id="introText">
	Intro
	</div>
	</div>
	</div>
	<div class="column-right" style="float: right; width: 38%;">
	<div>Sample Object</div>
	<pre id="outputDataObject"></pre>
	<h3>Output</h3>
	<input id="downloadType" type="button" value="Create Type" />
	<pre id="outputDataType"></pre>
	</div>
	</div>
	script(type='text/javascript', src="/admin/javascripts/md5.js")
	script(type='text/javascript', src="/admin/javascripts/types.js")
	link(rel='stylesheet', href='/admin/stylesheets/types.css')

	<div id="dialog-modal" title="Basic modal dialog" style="display: none;"></div>